<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo_1.PoJoMapper">
    <select id="selectId" resultType="demo_1.PoJo">

        select id,name from pojo wheer id=#{id} ;
    </select>

</mapper>