<?xml version="1.0" encoding="UTF-8"?>
<database>
    <property name="driverClassName">com.mysql.jdbc.Driver</property>
    <property name="url">jdbc:mysql://192.168.212.129/mybatis_test</property>
    <property name="username">root</property>
    <property name="password">root</property>
</database>